body {
  background-image: url('https://farm9.staticflickr.com/8332/8451032652_b2bf0bdadc_h.jpg');
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#okta-sign-in.main-container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#okta-sign-in .primary-auth .okta-form-title {
  font-size: 18px;
  font-weight: 600;
  color: #EC141C;
}

#okta-sign-in a.link {
  color: #798187;
}

#okta-sign-in .button {
  color: #ffffff;
  background-color: #3a3f44;
  border-color: #3a3f44;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  -webkit-filter: none;
  filter: none;
}

#okta-sign-in .button:hover {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#191b1d));
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  -webkit-filter: none;
  filter: none;
}

#okta-sign-in .button-primary:hover {
  background-image: -webkit-linear-gradient(#e72510, #d9230f 6%, #cb210e);
  background-image: -o-linear-gradient(#e72510, #d9230f 6%, #cb210e);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e72510), color-stop(6%, #d9230f), to(#cb210e));
  background-image: linear-gradient(#e72510, #d9230f 6%, #cb210e);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe72510', endColorstr='#ffcb210e', GradientType=0);
  -webkit-filter: none;
  filter: none;
}

#okta-sign-in .button-primary {
  color: #ffffff;
  background-color: #7a8288;
  border-color: #7a8288;
  background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-image: -o-linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(60%, #7a8288), to(#70787d));
  background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
  -webkit-filter: none;
  filter: none;
}

#okta-sign-in .button-primary:hover {
  background-image: -webkit-linear-gradient(#404448, #4e5458 40%, #585e62);
  background-image: -o-linear-gradient(#404448, #4e5458 40%, #585e62);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#404448), color-stop(40%, #4e5458), to(#585e62));
  background-image: linear-gradient(#404448, #4e5458 40%, #585e62);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff404448', endColorstr='#ff585e62', GradientType=0);
  -webkit-filter: none;
  filter: none;
}

.claims {
  width: 500px;
  margin: 0 auto;
}

.claims .hljs {
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}
